*scores*
*.pkl
*.prof
*.out*
*.dat
*.csv
*.hdf5
*.log
*.png
*.pdf
*/.ipynb_checkpoints/*
#*/__pycache__/*
*/*outputs*/*
!*.py
*/.ipython/*
*/archive/*
*outputs*
*/x86_64/*
*.log*
x86_64
**/x86_64/**
**/archive/**
**/.ipynb_checkpoints/**
**/__pycache__/**
**/*ipython*/**
!benchmark_ea/data/allen_data/*
